.email-optin {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 0;
  max-width: 356px;
  width: 55%;
  @media screen and (max-width: $mobile) {
    margin: 10pt auto 0;
    max-width: 100%;
    text-align: center;
    width: 98%;
  }
  .label {
    color: #ffffff;
    @media screen and (max-width: $tablet) {
      font-weight: bold;
    }
  }
  .field-wrap {
    .icon {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      width: 14.19%;
      img {
        width: 100%;
        margin: 6.4pt;
        max-width: 25px;
      }
    }
    .email {
      height: 38px;
      padding-right: 6.5pt;
      width: 58.335%;
    }
  }
}
