.label {
  display: block;
  font-family: 'Open Sans',arial,sans-serif;
  font-size: 10pt;
  line-height: 1;
  padding-bottom: 1.9pt;
  text-transform: uppercase;
}
.field-wrap {
  background: #ffffff;
  border: 1px solid #003259;
  overflow: hidden;
  white-space: nowrap;
  .field {
    background-color: #ffffff;
    border: 0;
    display: inline-block;
    font-size: 14pt;
    outline-color: transparent;
    vertical-align: middle;
    appearance: none;
  }
  button {
    background-color: #cc141c;
    border: 0;
    box-shadow: inset 0px 0px 0px 1px #9d0007;
    display: inline-block;
    color: #ffffff;
    font-size: 10.3pt;
    font-weight: 700;
    height: 38px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 28%;
  }
}
