#footer {
  background: linear-gradient(to bottom, #003d6b 0%, #005595 100%);
  padding: 10pt;
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  #logo {
    @media screen and (max-width: $small) {
      img {
        width: 34.1%;
      }
      .text {
        @include vw('font-size', 4.75);
      }
    }
  }
  .social {
    max-width: 300.5px;
    #share {
      margin-bottom: 15pt;
      @media screen and (max-width: $tablet) {
        margin-bottom: 0pt;
      }
      .label {
        color: #ffffff;
      }
      a {
        margin-right: 4pt;
      }
    }
    .email-optin {
      width: 100%;
      @media screen and (max-width: $tablet) {
        display: none;
      }
    }
  }
}
