#survey-wrapper {
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
  padding: 2%;
  @media screen and (max-width: $tablet) {
    display: block;
    padding: 0 0 4pt;
  }
  #next-post {
    background: linear-gradient(to bottom, #003d6b 0%, #005595 100%);
    color: #ffffff;
    order: 2;
    padding: 3pt 4pt;
    @media screen and (max-width: $tablet) {
      display: block;
      order: 1;
      text-align: center;
      width: 100%;
    }
    .icon {
      display: inline-block;
      max-width: 32px;
      vertical-align: middle;
      img {
        width: 100%;
      }
    }
    .text {
      display: inline-block;
      font-family: 'Open Sans', arial, sans-serif;
      font-size: 13.5pt;
      margin: 0 6pt;
      vertical-align: middle;
      @media screen and (max-width: $small) {
        @include vw('font-size', 4.28);
      }
    }
  }
  #archive {
    order: 1;
    width: 305px;
    @media screen and (max-width: $tablet) {
      margin: 10pt auto 0;
      width: 80%;
    }
    .label {
      color: #005390;
      font-size: 10.5pt;
      font-weight: 700;
      @media screen and (max-width: $tablet) {
        display: none;
      }
    }
    .field-wrap {
      #archive-dropdown {
        height: 39px;
        padding: 6pt 4pt;
        width: 72.525%;
      }
      button {
        height: 39px;
      }
    }
  }
}
