#survey-wrapper {
  align-items: flex-end;
  display: flex;
  justify-content: space-around;
  padding: 2%;
  @media screen and (max-width: $tablet) {
    display: block;
    padding: 0 0 4pt;
  }
  #next-post {
    background: linear-gradient(to bottom, #003d6b 0%, #005595 100%);
    color: #ffffff;
    order: 2;
    padding: 3pt 4pt;
    @media screen and (max-width: $tablet) {
      display: block;
      order: 1;
      text-align: center;
      width: 100%;
    }
    .icon {
      display: inline-block;
      max-width: 32px;
      vertical-align: middle;
      img {
        width: 100%;
      }
    }
    .text {
      display: inline-block;
      font-family: 'Open Sans', arial, sans-serif;
      font-size: 13.5pt;
      margin: 0 6pt;
      vertical-align: middle;
      @media screen and (max-width: 420px) {
        @include vw('font-size', 4.28);
      }
    }
  }
  #archive {
    order: 1;
    width: 305px;
    @media screen and (max-width: $tablet) {
      margin: 10pt auto 0;
      width: 80%;
    }
    .label {
      color: #005390;
      display: block;
      font-family: 'Open Sans', arial, sans-serif;
      font-size: 10.5pt;
      font-weight: 700;
      line-height: 1;
      padding-bottom: 1.9pt;
      text-transform: uppercase;
      @media screen and (max-width: $tablet) {
        display: none;
      }
    }
    .field {
      background: #ffffff;
      border: 1px solid #003259;
      #archive-dropdown {
        background-color: #ffffff;
        border: 0;
        display: inline-block;
        font-size: 14pt;
        height: 39px;
        outline-color: transparent;
        padding: 6pt 4pt;
        vertical-align: middle;
        width: 72.525%;
      }
      button {
        background-color: #cc141c;
        border: 0;
        box-shadow: inset 0px 0px 0px 1px #9d0007;
        display: inline-block;
        color: #ffffff;
        font-size: 10.3pt;
        font-weight: 700;
        height: 39px;
        text-transform: uppercase;
        vertical-align: middle;
        width: 27.475%;
      }
    }
  }
}
