@import 'base';

$large-desktop: 965px;
$desktop: 920px;
$small: 420px;

body {
  font-size: 0;
}

#header, #content, #footer {
  display: block;
}

.wrapper {
  margin: 0 auto;
  max-width: $desktop;
}

#content {
  background-color: #e6e6e6;
  .wrapper {
    background-color: #ffffff;
  }
}

.headline {
  color: #cc141c;
  font-weight: 800;
  margin: 0 7pt 22pt;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  @media screen and (max-width: $small) {
    @include vw('font-size', 6.4);
  }
  .blue {
    color: #005390;
  }
}

.title {
  color: #414141;
  font-size: 23pt;
  font-weight: 800;
  letter-spacing: -1px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: -1px;
  @media screen and (max-width: $mobile) {
    @include vw('font-size', 5.69);
  }
}

.divider {
  background: url(../images/divider_bar.min.png) center left repeat-x;
  margin: 20pt auto 0pt;
  text-align: center;
  img {
    width: 52pt;
  }
  &.highlight {
    img {
      display: block;
      margin: 0 auto;
      width: 60pt;
    }
  }
}

#scroll-top {
  background: #d22229;
  bottom: 4%;
  border-radius: 4pt;
  cursor: pointer;
  height: 25pt;
  opacity: 0;
  position: fixed;
  right: 4%;
  text-align: center;
  transition: all 0.3s ease-in-out;
  width: 25pt;
  z-index: -1;
  &.active {
    opacity: 1;
    z-index: 20;
  }
  img {
    padding: 6pt 0;
  }
}

@import 'header';
@import 'logo';
@import 'field';
@import 'subheader';
@import 'email-optin';
@import 'survey-wrapper';
@import 'survey-results';
@import 'footer';
@import 'barChart';
@import 'leadingPolls';
