@import 'base';

$large-desktop: 965px;
$desktop: 920px;

body {
  font-size: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: $desktop;
}

#content {
  background-color: #e6e6e6;
  .wrapper {
    background-color: #ffffff;
  }
}

@import 'logo';
@import 'subheader';
@import 'optin';
@import 'survey-wrapper';
@import 'survey-results';
@import 'footer';
