<div id="archive">
  <label class="label" for="archive-dropdown">Survey Poll Archives</label>
  <div class="field-wrap">
    <select name="archive" class="field" id="archive-dropdown">
      <option value="1-21-2016" selected>1/21/2016</option>
      <option value="1-8-2016">1/8/2016</option>
      <option value="12-18-2015">12/18/2015</option>
      <option value="12-11-2015">12/11/2015</option>
      <option value="11-23-2015">11/23/2015</option>
      <option value="11-5-2015">11/5/2015</option>
      <option value="10-15-2015">10/15/2015</option>
    </select>
    <button type="button">View</button>
  </div>
</div>
