<form class="email-optin">
  <label class="label" for="email-signup">Stay updated on the latest polls</label>
  <div class="field-wrap">
    <label class="icon" for="email-signup">
      <img src="images/mail-icon.min.svg" width="25" height="21" draggable="false">
    </label>
    <input data-id="ca:input" type="hidden" name="ca" value="c2447869-6f13-4135-92ed-8ba5f05d7d08">
    <input data-id="list:input" type="hidden" name="list" value="1044205677">
    <input data-id="source:input" type="hidden" name="source" value="EFD">
    <input data-id="required:input" type="hidden" name="required" value="list,email">
    <input data-id="url:input" type="hidden" name="url" value="">
    <input type="email" class="email field" id="email-signup" name="email" placeholder="Enter Your Email" required>
    <button type="submit">Sign Up</button>
  </div>
  <div class="thanks">
    <span>Thanks for signing up!</span>
    Look forward to our welcome email!
  </div>
</form>
