<div id="survey-wrapper">

  <div id="next-post">
    <div class="icon">
      <img src="images/calendar-icon.min.svg">
    </div>
    <div class="text"><strong>Next Scheduled Post:</strong> <span class="date">11/01/2015</span></div>
  </div>

  <div id="archive">
    <label class="label" for="archive-dropdown">Survey Poll Archives</label>
    <div class="field-wrap">
      <select name="archive" class="field" id="archive-dropdown">
        <option value="10-15-2015">10/15/2015</option>
        <option value="10-12-2015">10/12/2015</option>
      </select>
      <button type="button">View</button>
    </div>
  </div>

</div>
